
.SaleEnds {
    text-align: center;
    /* margin-top: 10px; */
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #bfc0c6;
    border-bottom: 1px solid #bfc0c6;
  }
  
  .SaleEnds > p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #7e818c;
  }
  .SaleEnds > p > span {
    color: #ee5f73;
    font-weight: 600;
  }
  .order_btn{
    background-color: #ff3f6c;
    border: none;
    color: #ffffff;
    font-family: Segoe UI;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 20px;
    text-align: center;
     padding: 10px 150px;
    border-radius: 5px;
  }
  

