.homeNavbar{
    width: 100%;
    background-color:white;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbarDivOne{
    /* width: 200px; */
    width: 56px;
    height: 40px;
    margin-left: 33px;
    margin-right: 33px;  
}
.navbarDivTwo{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    color: #282C3F;
    font-family: Whitney,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
}
.navbarDivThree {
    width: 20%;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    /* justify-content: flex-end; */
    justify-content: space-around;
    color: #282C3F;
    font-family: Whitney,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    align-items: center;
}
.navbarDivThreeInput{
    width: 95%;
    height: 28px;
    font-size: 14px;
    background-color: #F5F5F6;
    border:none;
    /* margin-left: 5px; */
}
.navbarDivThreeSubdivOne{
    width:35%;
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F6;
    margin-left: 40px;

}
.navbarDivThreeImg{
    width: 17px;
    height: 17px;
    margin-top: 8px;
    padding-left:5px ;
    padding-right: 5px;
    /* background-color: #F5F5F6; */

}
.navbarDivThreeFlex{
    display: flex;
    flex-direction: column;
    color: #282C3F;
    font-family: Whitney,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;

}
.navbarDivThreeFlex img {
    width: 16px;
    height: 16px;
    margin: auto;
    margin-bottom: 5px;

}
.navbarMen{
    cursor: pointer;
}
.navbarMenBlock{
    /* width: 1000px; */
    display: none;
   position:fixed;
    z-index: 2;
    top: 80px;
    left:110px;
    /* width: 300px; */
    /* height: 100px; */
    background-color:white;
    
}

.navbarMen:hover .navbarMenBlock{
   display: block;
    display: flex;

    flex-direction: row;
}

.navbarMenProducts{
    /* width: 19px; */
    padding:8px 20px 10px 20px;
    font-size: 13px;
}
.navbarMenProdHeading{
    color:#EE5F73;
    height: 37px;
    font-family: Whitney,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* cursor: pointer; */
}
.navbarMenProdHeadingList{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    font-family: Whitney,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    color: #696E79;
}
.navbarprodHrLine{
    margin:15px 20px 15px 20px;
    color: #fbfeff;
}
.navbarMenProdHeadingListHover div:hover{
    font-weight: bold;
    color: #282c3f;
}